@model IEnumerable<SignalR.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
	        <th>
		        @Html.DisplayNameFor(model => model.ProdId)
	        </th>
	        <th>
                @Html.DisplayNameFor(model => model.ProdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>
